doctype html
html(lang="ja")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, user-scalable=yes")
		title LFP Viewer Mockup
		//- CSS
		link(rel="stylesheet" href="assets/css/app.css" type="text/css")
		//- favicon
		//- link(href="images/favicon.ico" rel="shortcut icon" type="image/x-icon")
	body.loading
		div#container
			div#lytro
			div#real
		script(src="assets/js/app.js")
